<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="java">
<head>
    <title>Personal cabinet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        body {
            font-family: Helvetica, Tahoma, Arial, sans-serif;
            font-size: 100%;
            margin: 1em;
        }
        img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<h1>Personal cabinet</h1>
<table>
    <tr th:each="instance : ${ordersWithStatus}">
        <td th:text="${instance.key}"></td>
        <td th:text="${instance.value}"></td>
    </tr>
</table>
<form th:action="@{/catalogue}" id="catalogue" name="catalogue" method="get">
    <input type="hidden" name="user_id" th:value="${user_id}">
    <button type="submit">Go back</button>
</form>
</body>
</html>