<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="java">
<head>
    <title>Worker cooking update</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        body {
            font-family: Helvetica, Tahoma, Arial, sans-serif;
            font-size: 100%;
            margin: 1em;
        }
        img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<h1>Admin status update</h1>
<p th:if="${message!=null}" class="error" th:text="${message}"></p>
<form th:action="@{/worker/cooking-update}" id="worker-cooking-update" name="worker-cooking-update" method="post">
    <label for="taste"> Taste:  </label>
    <input type="text" id="taste" name="taste">
    <br>
    <label for="quantity"> Quantity:  </label>
    <input type="number" id="quantity" name="quantity">
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<form th:action="@{/worker}" id="worker" name="worker" method="get">
    <button type="submit">Go back</button>
</form>
</body>
</html>