<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="java">
<head>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        body {
            font-family: Helvetica, Tahoma, Arial, sans-serif;
            font-size: 100%;
            margin: 1em;
        }
        img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<h1>Registration</h1>
<p th:if="${message!=null}" class="error" th:text="${message}"></p>
<form action="/register" method="post">
    <label for="email"> Email:  </label>
    <input type="text" id="email" name="email">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br>
    <label for="phone-number">Phone number:</label>
    <input type="tel" id="phone-number" name="phone-number">
    <br>
    <button type="submit">Sign up</button>
</form>
<form action="/authorize" method="get">
    <button type="submit">Go back</button>
</form>
</body>
</html>