<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="java">
<head>
    <title>Chef taste update</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        body {
            font-family: Helvetica, Tahoma, Arial, sans-serif;
            font-size: 100%;
            margin: 1em;
        }
        img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<h1>Chef taste update</h1>
<p th:if="${message!=null}" class="error" th:text="${message}"></p>
<form th:action="@{/chef/taste-update}" id="chef-taste-update" name="chef-taste-update" method="post">
    <label for="cookingId"> Cooking id:  </label>
    <input type="text" id="cookingId" name="cookingId">
    <br>
    <label for="quantity"> Quantity:  </label>
    <input type="number" id="quantity" name="quantity">
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<form th:action="@{/chef}" id="chef" name="chef" method="get">
    <button type="submit">Go back</button>
</form>
</body>
</html>